# Ambiente virtual
.venv/

# Configurações locais do VS Code
.vscode/

# Arquivos temporários do Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.DS_Store

# Relatórios do Robot Framework
output.xml
report.html
log.html
reports/

# Logs
*.log

# Arquivo temporário de teste
Tem.robot